---
user: foo
fullname: "Foo Bar"
email: foo@bar.baz
hostname: bar
timezone: "Europe/Prague"

network:
  interface: wlo1
  subnet: 192.168.1.0/24
  gateway: 192.168.1.1
  nameserver: 192.168.1.1

# font settings
sans_font: "Fira Sans"
serif_font: "Bookerly"
monospace_font: "Fira Mono"
font_size: 10

font_replacements:
  - { src: "Helvetica", dest: "{{ sans_font }}" }
  - { src: "Arial", dest: "{{ sans_font }}" }
  - { src: "Courier New", dest: "{{ monospace_font }}" }
  - { src: "Courier", dest: "{{ monospace_font }}" }
  - { src: "Menlo", dest: "{{ monospace_font }}" }
  - { src: "Monaco", dest: "{{ monospace_font }}" }
  - { src: "FreeMono", dest: "{{ monospace_font }}" }

# theme settings
gtk_theme: "Adwaita-dark"
icon_theme: "Papirus-Dark"

vim_plugins:
  - https://github.com/vim-syntastic/syntastic.git
  - https://github.com/pearofducks/ansible-vim
  - https://github.com/vim-airline/vim-airline
  - https://github.com/junegunn/fzf
  - https://github.com/junegunn/fzf.vim

environment_vars:
  - "EDITOR=vim"
  - 'HISTTIMEFORMAT="%h %d %H:%M:%S "'
  - "HISTSIZE=10000"
  - "HISTFILESIZE=10000"
  - "HISTCONTROL=ignorespace:erasedups"

gnome_dconf_settings:
  - { key: '/org/gnome/desktop/interface/clock-show-seconds', value: "true" }
  - { key: '/org/gnome/desktop/interface/clock-show-weekday', value: "true" }
  - { key: '/org/gnome/desktop/interface/document-font-name', value: "'{{ sans_font }} {{ font_size }}'" }
  - { key: '/org/gnome/desktop/interface/font-name', value: "'{{ sans_font }} {{ font_size }}'" }
  - { key: '/org/gnome/desktop/interface/gtk-theme', value: "'{{ gtk_theme }}'" }
  - { key: '/org/gnome/desktop/interface/icon-theme', value: "'{{ icon_theme }}'" }
  - { key: '/org/gnome/desktop/interface/monospace-font-name', value: "'{{ monospace_font }} {{ font_size }}'" }
  - { key: '/org/gnome/desktop/notifications/show-in-lock-screen', value: "false" }
  - { key: '/org/gnome/desktop/privacy/disable-camera', value: 'false' }
  - { key: '/org/gnome/desktop/privacy/disable-microphone' , value: 'false' }
  - { key: '/org/gnome/desktop/privacy/remove-old-temp-files' , value: 'true' }
  - { key: '/org/gnome/desktop/search-providers/disable-external', value: "false" }
  - { key: '/org/gnome/desktop/sound/event-sounds', value: "false" }
  - { key: '/org/gnome/desktop/wm/preferences/audible-bell', value: 'false' }
  - { key: '/org/gnome/desktop/wm/preferences/button-layout', value: "'appmenu:minimize,maximize,close'" }
  - { key: '/org/gnome/desktop/wm/preferences/titlebar-font', value: "'{{ sans_font }} {{ font_size }}'" }
  - { key: '/org/gnome/mutter/center-new-windows', value: "true" }
  - { key: '/org/gnome/shell/disable-user-extensions', value: "true" }

absent_desktop_icons:
  - htop.desktop

sysctl_values:
  - { key: "net.ipv6.conf.all.disable_ipv6", value: "1" }
  - { key: "net.ipv6.conf.default.disable_ipv6", value: "1" }
  - { key: "net.ipv6.conf.lo.disable_ipv6", value: "1" }

critical_system_services:
  - docker
  - iptables
  - irqbalance

masked_system_services:
  - avahi-daemon.service
  - avahi-daemon.socket

critical_user_services:
  - wireplumber

masked_user_services:
  - gnome-user-share-webdav.service
  - rygel.service
  - gnome-remote-desktop.service
  - evolution-addressbook-factory.service
  - evolution-calendar-factory.service
  - evolution-source-registry.service
  - gvfs-goa-volume-monitor.service

packages:
  - cmus
  - dotnet-sdk-6.0
  - eog
  - evince
  - ffmpeg
  - firefox
  - flatpak
  - git
  - glances
  - go
  - gstreamer1-plugin-openh264
  - htop
  - iftop
  - intel-media-driver
  - iotop
  - irqbalance
  - lato-fonts
  - libva
  - libva-utils
  - mozilla-fira-mono-fonts
  - mozilla-fira-sans-fonts
  - nautilus
  - papirus-icon-theme
  - tig
  - tmux
  - youtube-dl
  - zsh

absent_packages:
  - cheese
  - firewalld
  - gnome-boxes
  - gnome-calendar
  - gnome-contacts
  - gnome-maps
  - gnome-photos
  - gnome-software
  - gnome-videos
  - gnome-weather
  - libreoffice-calc
  - libreoffice-core
  - libreoffice-data
  - libreoffice-emailmerge
  - libreoffice-filters
  - libreoffice-graphicfilter
  - libreoffice-gtk3
  - libreoffice-help-en
  - libreoffice-impress
  - libreoffice-langpack-en
  - libreoffice-ogltrans
  - libreoffice-opensymbol-fonts
  - libreoffice-pdfimport
  - libreoffice-pyuno
  - libreoffice-ure
  - libreoffice-ure-common
  - libreoffice-writer
  - libreoffice-x11
  - libreoffice-xsltfilter
  - mediawriter
  - PackageKit
  - PackageKit-command-not-found
  - PackageKit-glib
  - PackageKit-gstreamer-plugin
  - PackageKit-gtk3-module
  - rhythmbox
  - sane-backends
  - simple-scan
  - speech-dispatcher
  - totem
