<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
    <fontconfig>

    <!--
        Accept deprecated 'mono' alias, replacing it with 'monospace'
    -->
    <match target="pattern">
        <test qual="any" name="family"><string>mono</string></test>
        <edit name="family" mode="assign"><string>monospace</string></edit>
    </match>

    <!--
        Provide required aliases for standard names
        Do these after the users configuration file so that
        any aliases there are used preferentially
    -->
    <alias>
        <family>serif</family>
        <prefer><family>{{ serif_font }}</family></prefer>
    </alias>
    <alias>
        <family>sans-serif</family>
        <prefer><family>{{ sans_font }}</family></prefer>
    </alias>
    <alias>
        <family>sans</family>
        <prefer><family>{{ sans_font }}</family></prefer>
    </alias>
    <alias>
        <family>monospace</family>
        <prefer><family>{{ monospace_font }}</family></prefer>
    </alias>

{% if font_replacements is defined %}
{% for font in font_replacements %}
    <match target="pattern">
        <test qual="any" name="family"><string>{{ font.src }}</string></test>
        <edit name="family" mode="assign" binding="same"><string>{{ font.dest }}</string></edit>
    </match>
{% endfor %}
{% endif %}
</fontconfig>
