[Desktop Entry]
Encoding=UTF-8
Version=2022.3.3
Name=Jetbrains Rider
GenericName=.NET IDE
Exec=/opt/rider/bin/rider.sh
Terminal=false
Icon=/opt/rider/bin/rider.svg
Type=Application
Categories=Application;
Comment=.NET IDE
